@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Rampart+One&display=swap');

body {
  height: 100%;
  margin: 0;
  background-color: #8ac7de;
  font-family: 'Kaisei Opti', serif;
  font-size: 16px;
}

@media screen and (max-width: 1120px) {
  body {
    font-size: 10px;
  }
}
.rampart {
  font-family: 'Rampart One', cursive;
}

html {
  height: 100%;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
}
.font-awesome {
  padding: 0;
}

.bluebell {
  background-color: #aec8e6;
}

.gray-char {
  color: #f2f2f2;
}

.mid-font {
  text-align: center;
  line-height: 100%;
}

.size-30px {
  font-size: 30px;
}

.fc a {
  color: black;
  text-decoration: none;
}
.fc-view-harness {
  background-color: #fff;
}
.fc-day-sat a {
  color: blue !important;
}
.fc-day-sun a {
  color: red !important;
}
.fc-h-event {
  text-align: center;
  line-height: 100%;
  background-color: #f2f2f2 !important;
  border: none !important;
}

.fc-h-event .fc-event-main {
  color: rgba(255, 202, 103, 0.973) !important;
  font-size: 30px;
}
.fc-day-future,
.fc-day-past,
.fc-day-today {
  cursor: pointer;
}

.note {
  width: 600px;
  font-size: 16px;
  color: #222;
  padding: 0 1rem;
  background-color: rgb(255, 252, 236);
  background-image: linear-gradient(rgba(126, 175, 240, 0.116) 0.1em, transparent 0.1em);
  background-size: auto 2rem;
  line-height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  overflow: hidden;
}
.note > p {
  margin: 0 0 2rem;
}
.note > p:first-letter {
  margin-left: 1rem;
}

iframe {
  transform: scale(1);
  transform-origin: 50% 50%;
}
